div.MainForm 
{
    background : none repeat scroll 0 0 #3366CC;
		border-radius:15px;
		color : white;
	    font-family : Verodona,sans-serif;
        font-weight : bold;
        margin : 10px auto;
        padding : 15px;
        width : 800px;
}
p.title 
{
    color: #33CCFF;
    font-family: Verodona, sans-serif;
    font-size:40px;
    font-weight:bold;
     align: center;
}
button {
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}